# Load File

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('GlobalWeatherRepository.csv')
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [3]:
df.shape

(104258, 41)

# Check for duplicate and missing values

In [4]:
# check duplicates
df.duplicated().sum()

0

In [5]:
# check missing values
df.isnull().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

# Filter for Bangkok

In [6]:
df_bangkok = df[df['location_name'] == 'Bangkok'].copy()
df_bangkok.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
173,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1715849100,2024-05-16 15:45,31.0,87.8,Partly cloudy,...,115.2,163.7,4,10,05:51 AM,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55
368,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1715868900,2024-05-16 21:15,30.0,86.0,Partly cloudy,...,150.8,212.3,5,10,05:51 AM,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55
754,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716042600,2024-05-18 21:30,31.0,87.8,Partly cloudy,...,33.2,51.4,2,3,05:51 AM,06:38 PM,02:28 PM,02:14 AM,Waxing Gibbous,73
949,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716128100,2024-05-19 21:15,27.0,80.6,Moderate or heavy rain with thunder,...,14.8,28.0,1,2,05:51 AM,06:38 PM,03:13 PM,02:47 AM,Waxing Gibbous,81
1144,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716216300,2024-05-20 21:45,30.0,86.0,Partly cloudy,...,65.0,106.7,3,9,05:51 AM,06:39 PM,03:59 PM,03:21 AM,Waxing Gibbous,88

In [7]:
df_bangkok.shape

(534, 41)

In [8]:
df_bangkok.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534 entries, 173 to 104236
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       534 non-null    object
 1   location_name                 534 non-null    object
 2   latitude                      534 non-null    float64
 3   longitude                     534 non-null    float64
 4   timezone                      534 non-null    object
 5   last_updated_epoch            534 non-null    int64
 6   last_updated                  534 non-null    object
 7   temperature_celsius           534 non-null    float64
 8   temperature_fahrenheit        534 non-null    float64
 9   condition_text                534 non-null    object
 10  wind_mph                      534 non-null    float64
 11  wind_kph                      534 non-null    float64
 12  wind_degree                   534 non-null    int64
 13  wind_direction                534 non-null    object
 14  pressure_mb                   534 non-null    float64
 15  pressure_in                   534 non-null    float64
 16  precip_mm                     534 non-null    float64
 17  precip_in                     534 non-null    float64
 18  humidity                      534 non-null    int64
 19  cloud                         534 non-null    int64
 20  feels_like_celsius            534 non-null    float64
 21  feels_like_fahrenheit         534 non-null    float64
 22  visibility_km                 534 non-null    float64
 23  visibility_miles              534 non-null    float64
 24  uv_index                      534 non-null    float64
 25  gust_mph                      534 non-null    float64
 26  gust_kph                      534 non-null    float64
 27  air_quality_Carbon_Monoxide   534 non-null    float64
 28  air_quality_Ozone             534 non-null    float64
 29  air_quality_Nitrogen_dioxide  534 non-null    float64
 30  air_quality_Sulphur_dioxide   534 non-null    float64
 31  air_quality_PM2.5             534 non-null    float64
 32  air_quality_PM10              534 non-null    float64
 33  air_quality_us-epa-index      534 non-null    int64
 34  air_quality_gb-defra-index    534 non-null    int64
 35  sunrise                       534 non-null    object
 36  sunset                        534 non-null    object
 37  moonrise                      534 non-null    object
 38  moonset                       534 non-null    object
 39  moon_phase                    534 non-null    object
 40  moon_illumination             534 non-null    int64
dtypes: float64(23), int64(7), object(11)
memory usage: 175.2+ KB

# Convert Datetime datatype

In [9]:
df_bangkok['last_updated'] = pd.to_datetime(df_bangkok['last_updated'])
df_bangkok.info()

<class 'pandas.core.frame.DataFrame'>
Index: 534 entries, 173 to 104236
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       534 non-null    object
 1   location_name                 534 non-null    object
 2   latitude                      534 non-null    float64
 3   longitude                     534 non-null    float64
 4   timezone                      534 non-null    object
 5   last_updated_epoch            534 non-null    int64
 6   last_updated                  534 non-null    datetime64[ns]
 7   temperature_celsius           534 non-null    float64
 8   temperature_fahrenheit        534 non-null    float64
 9   condition_text                534 non-null    object
 10  wind_mph                      534 non-null    float64
 11  wind_kph                      534 non-null    float64
 12  wind_degree                   534 non-null    int64
 13  wind_direction                534 non-null    object
 14  pressure_mb                   534 non-null    float64
 15  pressure_in                   534 non-null    float64
 16  precip_mm                     534 non-null    float64
 17  precip_in                     534 non-null    float64
 18  humidity                      534 non-null    int64
 19  cloud                         534 non-null    int64
 20  feels_like_celsius            534 non-null    float64
 21  feels_like_fahrenheit         534 non-null    float64
 22  visibility_km                 534 non-null    float64
 23  visibility_miles              534 non-null    float64
 24  uv_index                      534 non-null    float64
 25  gust_mph                      534 non-null    float64
 26  gust_kph                      534 non-null    float64
 27  air_quality_Carbon_Monoxide   534 non-null    float64
 28  air_quality_Ozone             534 non-null    float64
 29  air_quality_Nitrogen_dioxide  534 non-null    float64
 30  air_quality_Sulphur_dioxide   534 non-null    float64
 31  air_quality_PM2.5             534 non-null    float64
 32  air_quality_PM10              534 non-null    float64
 33  air_quality_us-epa-index      534 non-null    int64
 34  air_quality_gb-defra-index    534 non-null    int64
 35  sunrise                       534 non-null    object
 36  sunset                        534 non-null    object
 37  moonrise                      534 non-null    object
 38  moonset                       534 non-null    object
 39  moon_phase                    534 non-null    object
 40  moon_illumination             534 non-null    int64
dtypes: datetime64[ns](1), float64(23), int64(7), object(10)
memory usage: 175.2+ KB

# Set index
Useful for plotting time series data

In [10]:
df_bangkok.set_index('last_updated', inplace=True)

# Feature Engineering

Extract new columns for easier filtering

In [11]:
df_bangkok['month'] = df_bangkok.index.month
df_bangkok['day'] = df_bangkok.index.day
df_bangkok['year'] = df_bangkok.index.year
df_bangkok['hour_of_day'] = df_bangkok.index.time
df_bangkok['day_of_week'] = df_bangkok.index.day_name()
df_bangkok.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,...,sunset,moonrise,moonset,moon_phase,moon_illumination,month,day,year,hour_of_day,day_of_week
last_updated,,,,,,,,,,,,,,,,,,,,,
2024-05-16 15:45:00,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1715849100,31.0,87.8,Partly cloudy,9.4,...,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55,5,16,2024,15:45:00,Thursday
2024-05-16 21:15:00,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1715868900,30.0,86.0,Partly cloudy,6.9,...,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55,5,16,2024,21:15:00,Thursday
2024-05-18 21:30:00,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716042600,31.0,87.8,Partly cloudy,5.6,...,06:38 PM,02:28 PM,02:14 AM,Waxing Gibbous,73,5,18,2024,21:30:00,Saturday
2024-05-19 21:15:00,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716128100,27.0,80.6,Moderate or heavy rain with thunder,5.6,...,06:38 PM,03:13 PM,02:47 AM,Waxing Gibbous,81,5,19,2024,21:15:00,Sunday
2024-05-20 21:45:00,Thailand,Bangkok,13.75,100.52,Asia/Bangkok,1716216300,30.0,86.0,Partly cloudy,3.8,...,06:39 PM,03:59 PM,03:21 AM,Waxing Gibbous,88,5,20,2024,21:45:00,Monday

In [12]:
df_bangkok[['month', 'day', 'year', 'hour_of_day', 'day_of_week']]

                     month  day  year hour_of_day day_of_week
last_updated
2024-05-16 15:45:00      5   16  2024    15:45:00    Thursday
2024-05-16 21:15:00      5   16  2024    21:15:00    Thursday
2024-05-18 21:30:00      5   18  2024    21:30:00    Saturday
2024-05-19 21:15:00      5   19  2024    21:15:00      Sunday
2024-05-20 21:45:00      5   20  2024    21:45:00      Monday
...                    ...  ...   ...         ...         ...
2025-10-30 14:30:00     10   30  2025    14:30:00    Thursday
2025-10-31 15:15:00     10   31  2025    15:15:00      Friday
2025-11-01 15:15:00     11    1  2025    15:15:00    Saturday
2025-11-02 15:00:00     11    2  2025    15:00:00      Sunday
2025-11-03 15:15:00     11    3  2025    15:15:00      Monday

[534 rows x 5 columns]

# Handle datatype
Ensure numeric columns data

In [13]:
numeric_cols = ['temperature_celsius', 'feelslike_celsius',
                'air_quality_PM2.5', 'air_quality_PM10',
                'humidity', 'wind_kph', 'precip_mm', 'uv_index', 'air_quality_us-epa-index']

for col in numeric_cols:
    if col in df_bangkok.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Remove unnecessary columns

In [14]:
df_bangkok.drop(['country','location_name','latitude','longitude','timezone','last_updated_epoch'], axis=1, inplace=True)

In [15]:
df_bangkok.columns

Index(['temperature_celsius', 'temperature_fahrenheit', 'condition_text',
       'wind_mph', 'wind_kph', 'wind_degree', 'wind_direction', 'pressure_mb',
       'pressure_in', 'precip_mm', 'precip_in', 'humidity', 'cloud',
       'feels_like_celsius', 'feels_like_fahrenheit', 'visibility_km',
       'visibility_miles', 'uv_index', 'gust_mph', 'gust_kph',
       'air_quality_Carbon_Monoxide', 'air_quality_Ozone',
       'air_quality_Nitrogen_dioxide', 'air_quality_Sulphur_dioxide',
       'air_quality_PM2.5', 'air_quality_PM10', 'air_quality_us-epa-index',
       'air_quality_gb-defra-index', 'sunrise', 'sunset', 'moonrise',
       'moonset', 'moon_phase', 'moon_illumination', 'month', 'day', 'year',
       'hour_of_day', 'day_of_week'],
      dtype='object')

In [16]:
df_bangkok.head()

,temperature_celsius,temperature_fahrenheit,condition_text,wind_mph,wind_kph,wind_degree,wind_direction,pressure_mb,pressure_in,precip_mm,...,sunset,moonrise,moonset,moon_phase,moon_illumination,month,day,year,hour_of_day,day_of_week
last_updated,,,,,,,,,,,,,,,,,,,,,
2024-05-16 15:45:00,31.0,87.8,Partly cloudy,9.4,15.1,210,SSW,1007.0,29.74,0.11,...,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55,5,16,2024,15:45:00,Thursday
2024-05-16 21:15:00,30.0,86.0,Partly cloudy,6.9,11.2,170,S,1009.0,29.80,0.00,...,06:37 PM,12:57 PM,01:04 AM,Waxing Gibbous,55,5,16,2024,21:15:00,Thursday
2024-05-18 21:30:00,31.0,87.8,Partly cloudy,5.6,9.0,160,SSE,1005.0,29.68,0.00,...,06:38 PM,02:28 PM,02:14 AM,Waxing Gibbous,73,5,18,2024,21:30:00,Saturday
2024-05-19 21:15:00,27.0,80.6,Moderate or heavy rain with thunder,5.6,9.0,200,SSW,1006.0,29.71,0.00,...,06:38 PM,03:13 PM,02:47 AM,Waxing Gibbous,81,5,19,2024,21:15:00,Sunday
2024-05-20 21:45:00,30.0,86.0,Partly cloudy,3.8,6.1,120,ESE,1006.0,29.71,0.00,...,06:39 PM,03:59 PM,03:21 AM,Waxing Gibbous,88,5,20,2024,21:45:00,Monday

# Save Clean Data as CSV file

In [ ]:
df_bangkok.to_csv('bangkok_weather.csv')
print("Cleaned data saved to bangkok_weather.csv")